@{
    ViewData["Title"] = "Create Course";
}

<h2>Create Course</h2>

<form method="post">

    <input type="text" placeholder="Course Name" />

    <br /><br />

    <button type="submit">
        Save
    </button>

</form>