@{
    ViewData["Title"] = "Edit Course";
}

<h2>Edit Course</h2>

<form method="post">

    <input type="text" placeholder="Course Name" />

    <br /><br />

    <button type="submit">
        Update
    </button>

</form>