@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post">

    <div>
        <label>Email</label><br />
        <input type="email" name="Email" />
    </div>

    <br />

    <div>
        <label>Password</label><br />
        <input type="password" name="Password" />
    </div>

    <br />

    <button type="submit">
        Login
    </button>

</form>

<br />

<a asp-action="Register">Create New Account</a>