@{
    ViewData["Title"] = "Register";
}

<h2>Create Account</h2>

<form method="post">

    <div>
        <label>Full Name</label><br />
        <input type="text" />
    </div>

    <br />

    <div>
        <label>Email</label><br />
        <input type="email" />
    </div>

    <br />

    <div>
        <label>Password</label><br />
        <input type="password" />
    </div>

    <br />

    <button type="submit">
        Register
    </button>

</form>